@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-10: var(--primary-10);
  --color-primary-20: var(--primary-20);
  --color-primary-30: var(--primary-30);
  --color-primary-40: var(--primary-40);
  --color-primary-50: var(--primary-50);
  --color-primary-60: var(--primary-60);
  --color-primary-70: var(--primary-70);
  --color-primary-80: var(--primary-80);
  --color-primary-90: var(--primary-90);

  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

[data-theme='violet-light'] {
  --background: hsl(0, 0%, 97%);
  --foreground: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(224 71.4% 4.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(262.1 83.3% 57.8%);
  --primary-10: hsl(262.1 83.3% 95%);
  --primary-20: hsl(262.1 83.3% 85%);
  --primary-30: hsl(262.1 83.3% 75%);
  --primary-40: hsl(262.1 83.3% 65%);
  --primary-50: hsl(262.1 83.3% 57.8%);
  --primary-60: hsl(262.1 83.3% 45%);
  --primary-70: hsl(262.1 83.3% 35%);
  --primary-80: hsl(262.1 83.3% 25%);
  --primary-90: hsl(262.1 83.3% 15%);

  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(220 14.3% 95.9%);
  --secondary-foreground: hsl(220.9 39.3% 11%);
  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);
  --accent: hsl(220 14.3% 95.9%);
  --accent-foreground: hsl(220.9 39.3% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --ring: hsl(262.1 83.3% 57.8%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
  --sidebar: var(--primary-foreground);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

[data-theme='violet-dark'] {
  --background: hsl(224, 95%, 8%);
  --foreground: hsl(211, 86%, 11%);
  --text: hsl(0, 0%, 100%);
  --card: hsl(224 71.4% 4.1%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(224 71.4% 4.1%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(263.4 70% 50.4%);
  --primary-10: hsl(262.1 83.3% 15%);
  --primary-20: hsl(262.1 83.3% 25%);
  --primary-30: hsl(262.1 83.3% 35%);
  --primary-40: hsl(262.1 83.3% 45%);
  --primary-50: hsl(262.1 83.3% 57.8%);
  --primary-60: hsl(262.1 83.3% 65%);
  --primary-70: hsl(262.1 83.3% 75%);
  --primary-80: hsl(262.1 83.3% 85%);
  --primary-90: hsl(262.1 83.3% 95%);

  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(215 27.9% 16.9%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(215 27.9% 16.9%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --ring: hsl(263.4 70% 50.4%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.5rem;
  --sidebar: var(--primary-foreground);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--chart-1);
  --sidebar-primary-foreground: var(--sidebar-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--sidebar-foreground);
  --sidebar-border: var(--sidebar-accent);
  --sidebar-ring: var(--ring);
}